.Drawer__button
{
	width: 100%;
	padding: 1em 2em;
	font-size: 1em;
	text-align: left;
	border: 0;
	background-color: var(--red);
	color: var(--white);
	transition: background-color .3s ease, color .3s ease;
}

.Drawer__button:focus,
.Drawer__button:hover
{
	background-color: var(--gray-dark);
}

.Drawer__button::after
{
	width: 0;
	height: 0;
	margin-left: .5em;
	content: '';
	display: inline-block;
	vertical-align: middle;
	border-top: .375em solid;
	border-right: .375em solid transparent;
	border-bottom: 0;
	border-left: .375em solid transparent;
	transform: rotate(-90deg) translateX(.1em);
	transform-origin: center;
	transition: transform .3s ease;
}

.Drawer__holder
{
	margin-top: 0;
	max-height: 0;
	border: 1px solid var(--gray-lightest);
	overflow: hidden;
	transition: max-height .3s ease;
}

.Drawer__content
{
	margin-top: 0;
	padding: 2em;
}

.Drawer.is-active .Drawer__holder
{
	max-height: 15rem;
}

.Drawer.is-active .Drawer__button::after
{
	transform: rotate( 0 );
}
